# Ignore everything and unignore only what's needed
/*

# build files
node_modules

# project files, wp-content and db directories
!.gitignore
!README.md
!wc-skopje-2024.md
!.vscode/
!wp-content/
!db/

# wp-content folder
wp-content/*
!wp-content/themes/
!wp-content/plugins/

# Themes folder
wp-content/themes/*
!wp-content/themes/twentytwentytwo/

# Plugins folder
wp-content/plugins/*
# Plugins that will be created
!wp-content/plugins/wpgems/
!wp-content/plugins/toggle/
!wp-content/plugins/toggle-count/
# Plugins already in repo
!wp-content/plugins/example-interactive/
!wp-content/plugins/example-count/
!wp-content/plugins/instant-search-interactivity/
!wp-content/plugins/interactive-todos/
!wp-content/plugins/interactivity-api-countdown/